<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lee's F1 Trivia</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700;900" />
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 1 - THE NAVBAR SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////-->
<nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../images/arts/31.png" width="60" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="https://lpcwprogramming.github.io/f1trivia/index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="https://lpcwprogramming.github.io/f1trivia/templates/trivia.html">Trivia</a></li>
          <li class="nav-item"><a class="nav-link" href="https://lpcwprogramming.github.io/f1trivia/templates/testimonials.html">Testimonials</a></li>
          <li class="nav-item"><a class="nav-link" href="https://lpcwprogramming.github.io/f1trivia/templates/faq.html">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="https://lpcwprogramming.github.io/f1trivia/templates/gallery.html">Gallery</a></li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </body>